html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  background-color: rgb(210, 202, 232);
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  text-align: right;
  color: rgb(48, 37, 52);
  margin-bottom: 0rem;
  font-size: 300%;
  border-bottom: .3rem solid rgb(132, 112, 166);
  border-right: .7rem solid rgb(132, 112, 166);
  border-top-right-radius: 1rem;
}

h3 {
  text-align: right;
  font-size: 150%;
  margin-top: 0rem;
  color: rgb(48, 37, 52);

}

button {
  width: 30rem;
  height: 3rem;
  background-color: rgb(132, 112, 166);
  color: rgb(237, 228, 241);
  margin: 1rem;
  border: .5rem solid rgb(196, 175, 222);
  border-radius: .5rem;
  border-top-left-radius: 2rem;
  
}

button:active {
  background-color: rgb(196, 175, 222) ;
}

#image-gallery {
  font-size: 2rem;
  background-color: rgb(132, 112, 166);
  margin-bottom: 0rem;
  margin-top: 3rem;
  border: 3px solid rgb(132, 112, 166);
  border-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom: 1px;
  border-top-right-radius: 5px;
  color: rgb(237, 228, 241);
  width: fit-content;
}

.intro {
  font-size: 1.5rem;
  background-color: rgb(132, 112, 166);
  border: .5rem solid rgb(132, 112, 166);
  color: rgb(233, 219, 247);
  border-radius: .5rem;
  border-top-left-radius: 1rem;
}

#explain-gallery {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1rem;
  background-color: rgb(132, 112, 166);
  border: 0rem solid rgb(132, 112, 166);
  color: rgb(233, 219, 247);
  border-radius: .5rem;
  border-top-left-radius: 1rem;
}

#gallery-1 img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; 
}

#gallery-1 {
  border: 4px solid rgb(132, 112, 166);
  background-color: rgb(132, 112, 166);
  height: fit-content;
  width: 50rem;
}
